* {
    color: #fff;
}

.primary-color {
    color: #EB1CCC;
}

.gray-color {
    color: #5D5D5D;
}

.black-color {
    color: #000;
}

.gray-bg-color {
    background-color: #95989A;
}

#header-container {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/hrz-5.jpg);
}


/* HEADER-CONTAINER */

#header-container #header-content-container {
    text-align: center;
}

#header-container #header-content-container h1 {
    font-size: 4em;
}

#header-container #header-content-container h2 {
    font-size: 2em;
}

#header-container #header-content-container p {
    font-size: 1.2em;
}


#header-container #header-form-container p {
    font-size: 1.4em;
}

#header-container #header-form-container input,
#header-container #header-form-container select {
    border: none;
} 

#header-container #header-form-container input:focus,
#header-container #header-form-container select:focus {
    box-shadow: none;
    border: none;
    color: #5D5D5D;
} 

#header-container #header-form-container button {
    background-color: #EB1CCC;
    color: #fff;
    width: 100%;
    font-size: 1.2em;
    transition: 0.3s;
}

@media (min-width: 768px) {
    #header-container #header-content-container {
        text-align: left;
        width: 70%;
        margin: 0 auto;
    }

    #header-container #header-form-container {
        max-width: 400px;
        margin: 0 auto;
    }

    #header-container #header-form-container button {
        opacity: 0.8;
    }

    #header-container #header-form-container button:hover {
        opacity: 1;
    }
}

/* LEARN CARDS CONTAINER */

#learn-cards-container {
    flex-wrap: wrap;
}

#learn-cards-container .learn-card {
    max-width: 400px;
}

#learn-cards-container .learn-card p {
    width: 75%;
    margin: 0 auto;
}

#learn-cards-container .card-img {
    background-position: center;
    background-position: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 0 auto;
}

#card-img-1 {
    background-image: url('../imgs/hrz-1.jpg');
}

#card-img-2 {
    background-image: url('../imgs/hrz-2.jpg');
}

#card-img-3 {
    background-image: url('../imgs/hrz-3.jpg');
}